@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

html,
body {
  overscroll-behavior-x: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #dfdfdf;
}

body {
  color: #262626;
  font-family: greycliff-cf, sans-serif;
}

body:before {
  position: absolute;
  right: 1rem;
  top: 1rem;
  content: 'Drag or scroll';
  color: #262626;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.loader {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #e6d5b8;
}
