@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

html,
body {
  overscroll-behavior-x: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #dfdfdf;
}

body {
  color: #262626;
  font-family: greycliff-cf, sans-serif;
}

body:before {
  position: absolute;
  right: 1rem;
  top: 1rem;
  content: 'Drag or scroll';
  color: #262626;
}

button {
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.marquee-container {
  width: 100%;
  height: 100vh;
  padding: 120px 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;

  span {
    color: #ffc700;
  }
}

.item {
  padding-right: 120px;
  -webkit-user-select: none;
  user-select: none;
  /* will-change: transform; */
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #e6d5b8;
}
